<h2 mat-dialog-title>{{title}}</h2>

<form [formGroup]="boissonForm" (ngSubmit)="onSubmit()">
    <div class="form">
        <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" readonly />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Bouteille</mat-label>
            <mat-select formControlName="bouteille">
                <mat-option *ngFor="let bouteille of bouteilles$ | async" [value]="bouteille.id">
                    {{bouteille.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Volume (L)</mat-label>
            <input type="number" matInput formControlName="drinkSize" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date de création</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="creationDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>


    <mat-dialog-actions align="end">
        <button mat-button type="button" mat-dialog-close>Annuler</button>
        <button mat-raised-button type="submit" cdkFocusInitial color="warn"
            [disabled]="!boissonForm.valid || !boissonForm.dirty">{{submitBtnName}}</button>
    </mat-dialog-actions>
</form>
