<div class="container">
  <h2>Liste des boissons</h2>
  <div class="flex-grow-1 p-1">

<table mat-table [dataSource]="boissons$ | async" class="mat-elevation-z8">

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Prénom </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- bouteille Column -->
  <ng-container matColumnDef="bouteille">
    <th mat-header-cell *matHeaderCellDef> Bouteille </th>
    <td mat-cell *matCellDef="let element"> {{element.bouteille}} </td>
  </ng-container>

  <!-- drinkSize Column -->
  <ng-container matColumnDef="drinkSize">
    <th mat-header-cell *matHeaderCellDef> drinkSize </th>
    <td mat-cell *matCellDef="let element"> {{element.drinkSize}} </td>
  </ng-container>

  <!-- update Column -->
  <!-- <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> update </th>
    <td mat-cell *matCellDef="let element" (click)="openStudentForm(element); $event.stopPropagation();"> <mat-icon class="clickable">edit</mat-icon> </td>
  </ng-container> -->

  <!-- delete Column -->
  <!-- <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> delete </th>
    <td mat-cell *matCellDef="let element" (click)="delete(element.id); $event.stopPropagation();"> <mat-icon class="clickable">delete</mat-icon> </td>
  </ng-container> -->


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="showStudentDetails(row.id)"></tr>
</table>

</div>
<div class="btn-holder">
  <button mat-fab color="warn" (click)="openStudentForm()"><mat-icon>add</mat-icon></button>
</div>
</div>
