<div class="container">
  <h2>Liste des boissons</h2>

  <div class="card-container">
    <div *ngFor="let boisson of boissons$ | async" class="clickable">
      <mat-card (click)="showBoissonDetails(boisson.id)">
        <mat-card-header>
          <mat-card-title>{{ boisson.name }}</mat-card-title>
          <mat-card-subtitle>{{ boisson.drinkSize }}L</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ boisson.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openBoissonForm(boisson); $event.stopPropagation();"><mat-icon>edit</mat-icon></button>
          <button mat-button (click)="delete(boisson.id); $event.stopPropagation();"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="btn-holder">
    <button mat-fab color="warn" (click)="openBoissonForm()"><mat-icon>add</mat-icon></button>
  </div>

</div>
